@charset "UTF-8";

article, aside, footer, header, main, nav, div {
  display: block;
 }
   
html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0px;
  margin: 0px;
 }
 
 body {
 background-color: #f5f5f5;
 overflow: auto;
 }

#nav1 {
  position: fixed; top: 0%;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
 }
  
#logo {
  position: relative;
  margin-top: 9px;
  margin-bottom: 7px;
  margin-left: 20px;
  width: 130px;
  float: left;
  display: block;
 }
 
 #logo2 {
  position: relative;
  margin-top: 9px;
  margin-bottom: 7px;
  margin-left: 20px;
  width: 40px;
  float: left;
  display: none;
 }

.listi {
  display: inline;
 }

.linkar1 {
  text-decoration: none;
  font-family: 'aller_lightregular', Arial, sans-serif;
  color: #bdbdbd;
  font-size: 100%;
  position: relative;
  float: right;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: -10px;
  padding-bottom: 8px;
  }
  
 #vidhengi {
 position: fixed; top: 60px; right: 40px;
 background-color: #d0d0d0;
 border-bottom: thin solid #d0d0d0;
 border-left: thin solid #d0d0d0;
 border-right: thin solid #d0d0d0;
 margin-top: 1px;
 }
 
 #tenglar {
 cursor: pointer;
 }
 
 .vh2 {
 position: relative;
 list-style: none;
 padding: 6px;
 background-color: white;
 text-align: center;
 margin-top: 1px;
 width: 140px;
 }
 
 .vh2nr  {
 text-decoration: none;
 color: black;
 font-family: 'allerregular', arial, sans-serif;
 font-size: 14px;
 }
  
 .myndasyning {
 position: fixed; top: 0%; left: 0%; right: 0%;
 height: 500px;
 overflow: hidden;
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 }
 
 .bannermyndir {
 width: 100%;
 height: 500px;
 opacity: 0.0;
 }
 
 #myndasyning1 {
 background-image: url("../img/1.jpg");
 }
 
 #myndasyning2 {
 background-image: url("../img/2.jpg");
 }
 
 #myndasyning3 {
 background-image: url("../img/3.jpg");
 }
 
 #myndasyning4 {
 background-image: url("../img/4.jpg");
 }
 
 #myndasyning5 {
 background-image: url("../img/5.jpg");
 }
 
 #myndasyning6 {
 background-image: url("../img/6.jpg");
 }
 
 #umtexti {
 position: relative; top: 500px;
 width: 100%;
 background-color: white;
 padding: 35px 0 35px 0;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 }
 
 #umtextitexti {
 width: 90%;
 max-width: 800px;
 margin-left: auto;
 margin-right: auto;
 }
 
 .um {
 color: #303030;
 font-family: Arial, sans-serif;
 font-size: 15px;
 line-height: 1.5;
 margin-bottom: 10px;
 }
 
 #umfyrirsogn {
 width: 90%;
 font-family: 'aleobold', Arial, sans-serif;
 font-size: 37px;
 color: #4cd583;
 margin-bottom: 15px;
 margin-left: auto;
 margin-right: auto;
 }
 
 #oli {
 width: 180px;
 display: inline-block;
 padding-top: 8px;
 }
 
 #anna {
 width: 180px;
 display: inline-block;
 padding-top: 8px;
 }
 
 .hringur {
 width: 120px;
 height: auto;
 margin-top: 15px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 3px;
 }
 
 .oliogannatexti {
 font-family: 'aleobold', Arial, sans-serif;
 color: #565a5c;
 font-size: 13px;
 }
 
 #fyrirsogn1 {
 width: 100%;
 position: relative; top: 500px;
 background-color: #f5f5f5;
 padding-bottom: 30px;
 padding-top: 30px;
 }
 
 #greinafyrirsogn {
 text-align: center;
 font-family: 'aleobold', Arial, sans-serif;
 font-size: 40px;
 color: #565a5c;
 padding-bottom: 20px;
 }
 
 #greinaundirfyrirsogn {
 text-align: center;
 font-family: Arial, sans-serif;
 font-size: 15px;
 line-height: 1.5;
 color: #303030;
 width: 90%;
 max-width: 400px;
 margin-left: auto;
 margin-right: auto;
 }
 
 #tenglaor {
 width: 10px;
 margin-left: 8px;
 border: none;
 }
 
 #tenglaor2 {
 width: 10px;
 margin-left: 8px;
 border: none;
 }
 
 #forsidugreinarheild {
 width: 100%;
 position: relative; top: 500px;
 background-color: #f5f5f5;
 padding-bottom: 25px;
 }
 
 #forsidugreinarheild2 {
 width: 90%;
 max-width: 1080px;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 30px;
 }
 
 .forsidugreinar {
 overflow: hidden;
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 width: 32%;
 height: auto;
 display: inline-block;
 border: thin solid #cdcdcd;
 }
 
 .forsidugreinamyndir {
 width: 100%;
 opacity: 0.0;
 height: auto;
 }
 
 #forsidugrein1 {
 background-image: url("../img/preview/fjarvistir.jpg");
 position: relative; 
 }
 
 #forsidugrein2 {
 position: relative; 
 background-image: url("../img/preview/leiklist.jpg");
 margin-left: -5px; left: 2%;
 }
 
 #storforsidugrein1 {
 background-image: url("../img/preview/bein2.jpg");
 position: relative; left: 4%;
 margin-left: -5px;
 }
 
 #greinalinkur {
 width: 115px;
 margin-left: auto;
 margin-right: auto;
 }
 
 #fleirigreinar {
 padding-bottom: 10px;
 padding-top: 10px;
 text-align: center;
 font-family: 'aller_lightregular', Arial, sans-serif;
 border: thin solid grey;
 border-radius: 7px;
 margin-top: 3px;
 margin-bottom: 10px;
 }
 
 #fleirigreinarlinkur {
 text-decoration: none;
 color: #565a5c;
 }
 
 .greinanofn {
 position: absolute; bottom: 0px; left: 0px; right: 0px;
 font-size: 16px;
 padding: 10px;
 font-family: 'aleobold', Arial, sans-serif;
 background-color: rgba(255,255,255,1.0);
 color: #111111;
 box-shadow: 0px -5px 20px -7px #ababab;
 }
 
 .greinanofn2 {
 font-size: 13px;
 font-family: Arial, sans-serif;
 color: white;
 position: absolute; top: 10px; right: 10px;
 background-color: rgba(0,0,0,0.65);
 padding: 4px 5px 4px 5px;
 }
 
 #gn23 {
 background-color: rgba(255,90,95,1.0);
 }
 
 #forsidumyndir {
 position: relative; top: 500px;
 width: 100%;
 height: 550px;
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-image: url("../img/myndir/1.jpg");
 }
 
 #myndirfyrirsogn {
 text-align: left;
 font-family: 'aleobold', Arial, sans-serif;
 font-size: 37px;
 color: white;
 position: absolute; top: 30px; left: 30px;
 text-shadow: 3px 3px 8px #272727;
 }
 
 #myndirlinkur {
 width: 100%;
 }
 
 #fleirimyndir {
 width: 115px;
 padding-bottom: 10px;
 padding-top: 10px;
 text-align: center;
 font-family: 'aller_lightregular', Arial, sans-serif;
 border: thin solid white;
 border-radius: 7px;
 position: absolute; bottom: 20px; right: 30px;
 }
 
 #fleirimyndirlinkur {
 text-decoration: none;
 color: white;
 }
 
 #umsiduna {
 position: relative; top: 500px;
 background-color: white;
 }
 
 #umfyrirsogn2 {
 font-family: 'aleobold', Arial, sans-serif;
 font-size: 37px;
 color: #4cd583;
 margin-bottom: 15px;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 padding-top: 27px;
 }
 
 #greinaundirfyrirsogn2 {
 text-align: center;
 font-family: Arial, sans-serif;
 font-size: 15px;
 line-height: 1.5;
 color: #303030;
 width: 90%;
 max-width: 650px;
 margin-left: auto;
 margin-right: auto;
 }
 
 #umsjonheild {
 width: 434px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 }
 
 .umsjon {
 display: inline-block;
 }

 .umsjonmynd {
 width: 150px;
 height: auto;
 margin-left: 25px;
 margin-right: 25px;
 margin-bottom: 5px;
 }
 
 #pabbi {
 margin-right: 15px;
 }
 
 #eg {
 margin-left: 15px;
 }
 
 .umsjontexti {
 width: 200px;
 text-align: center;
 font-family: 'aleobold', Arial, sans-serif;
 font-size: 16px;
 color: #565a5c;
 }
 
 .upplysingar {
 width: 200px;
 font-size: 13px;
 font-family: 'aller_lightregular', Arial, sans-serif;
 color: #565a5c;
 text-align: center;
 margin-top: 3px;
 margin-bottom: 35px;
 }
 
 .fb {
 width: 30px;
 margin-left: 85px;
 margin-right: 85px;
 margin-top: 10px;
 margin-bottom: 35px;
 display: none;
 }
 
@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/Aleo-Regular-webfont.eot');
    src: url('../fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('../fonts/Aleo-Bold-webfont.eot');
    src: url('../fonts/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Bold-webfont.woff') format('woff'),
         url('../fonts/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}